/* CABECERA */

h1{
    margin-top: 10vh;
    margin-left: 3vh;
}

/* TABLA */

table {
    position: absolute;
    margin-top: 15vh;
    margin-left: 50vh;
    margin-bottom: 30vh;
    float: left;
}